.article-card {
  padding: 10px;
  background-color: var(--color-background-1);

  &__image-container {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--color-background-3);

    &::after {
      content: '';
      display: block;
      padding-top: calc(100% / (315px / 268px));
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 48px 24px;
  }

  &__description {
    @include typo-paragraph-3;

    margin-bottom: 12px;
    text-align: center;
    color: var(--color-paragraph-4);
  }

  &__title {
    @include typo-header-3;

    text-align: center;
    color: var(--color-headline-1);
  }
}
