@font-face {
  font-family: 'Xanh Mono';
  src:
    url('~/assets/fonts/XanhMono/XanhMono-Regular.woff2') format('woff2'),
    url('~/assets/fonts/XanhMono/XanhMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gasoek One';
  src:
    url('~/assets/fonts/GasoekOne/GasoekOne-Regular.woff2') format('woff2'),
    url('~/assets/fonts/GasoekOne/GasoekOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraLight.woff2')
      format('woff2'),
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraLight.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Light.woff2')
      format('woff2'),
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff2')
      format('woff2'),
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Medium.woff2')
      format('woff2'),
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.woff2')
      format('woff2'),
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.woff2')
      format('woff2'),
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff2')
      format('woff2'),
    url('~/assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff')
      format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
