/* variables */
$xxs: 375px;
$xs: 475px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$xxxl: 1920px;
$max-container-width: 1440px;

/* transition */
$transition-duration: 300ms;
$transition-function: cubic-bezier(0.075, 0.82, 0.165, 1);
