.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  padding: 146px 30px;
  background-color: var(--color-background-2);
  background-image: image-set(
    url('./assets/images/hero-bg.webp') type('image/webp'),
    url('./assets/images/hero-bg.jpg') type('image/jpeg')
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__container {
    margin: 0 auto;
    max-width: 370px;
  }

  &__detail {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
